.messages-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

.messages-page-heading {
  text-align: center;
  padding: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
}
.messages-page-sub-heading {
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}
.messages-table-container {
  padding: 2rem;
}

th {
  font-weight: 700;
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #56b2a9;
}
